#Mongol {
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 143px;
    max-height: 100%;
    overflow: auto;
    font-size: 14px;
}

#Mongol * {
    outline: none;
    font-family: Liberation Mono, Courier, Lucidatypewriter, Fixed, monospace !important;
}

#Mongol ::-webkit-scrollbar {
    display: none;
}

#Mongol.Mongol_expand {
    width: 100% !important;
    max-width: 320px !important;
}

.Mongol_expand {
    z-index: 2147483647 !important;
}

#Mongol a {
    color: #999;
    text-decoration: none;
}

#Mongol a:hover {
    color: #A6E22D;
    text-decoration: underline;
}

/* Row */

.Mongol_row {
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 28px;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition:    all .3s;
    -ms-transition:     all .3s;
    -o-transition:      all .3s;
    transition:         all .3s;
    margin-bottom: 1px;
}

.Mongol_row_name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
    z-index: 9999999999999;
    position: relative;
}

.Mongol_row:last-child {
    margin-bottom: 0px;
}

.Mongol_row:hover {
    cursor: pointer;
}

.MongolHide {
    max-width: 0px;
    opacity: 0;
}

.Mongol_row_expand {
    height: 320px;
    cursor: default !important;
}

.Mongol_row_expand .MongolHide {
    opacity: 1;
    max-width: auto;
    overflow: auto;
}

.Mongol_row_expand .Mongol_Controls {
    width: 20px;
    line-height: 19px;
    font-size: 22px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
    color: #000;
    opacity: 0.2;
}

.Mongol_row_expand .Mongol_Controls:hover {
    cursor: pointer;
    opacity: 0.6;
}

.Mongol_row_expand .Mongol_plus {
    font-size: 16px;
    line-height: 19px;
}

.Mongol_counter {
    float: right;
}

/* Row > Editing */

.Mongol_editable {
    cursor: auto;
}

.Mongol_editable span {
    color: #fff !important;
}

/* Row > Content View */

.Mongol_contentView {
    box-shadow: 0 0 0 80px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.Mongol_row:hover .Mongol_contentView {
    box-shadow: 0 0 0 80px rgba(0, 0, 0, 0.68);
    -webkit-transition: all 0s !important;
    -moz-transition:    all 0s !important;
    -ms-transition:     all 0s !important;
    -o-transition:      all 0s !important;
    transition:         all 0s !important;
}

.Mongol_row_expand .Mongol_contentView {
    box-shadow: 0 0 0 80px rgba(0, 0, 0, 0.68);
}

/* Document Viewer */

#Mongol pre {
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
    list-style: none;
    quotes: none;
    content: "";
    content: none;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.Mongol_documentViewer {
    height: 255px;
    padding: 0 7px;
    padding-top: 3px;
    line-height: 20px;
    overflow: auto;
    border-radius: 0 0 5px 5px;
    z-index: 9999999998;
    position: relative;
    -webkit-transition: all .3s !important;
    -moz-transition:    all .3s !important;
    -ms-transition:     all .3s !important;
    -o-transition:      all .3s !important;
    transition:         all .3s !important;
    color: rgba(255, 255, 255, 0.5);
}

.Mongol_documentViewer pre {
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.5);
    overflow: visible;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Need to check if this is still needed */
.Mongol_documentViewer span {
    -webkit-transition: all .2s !important;
    -moz-transition:    all .2s !important;
    -ms-transition:     all .2s !important;
    -o-transition:      all .2s !important;
    transition:         all .2s !important;
}

.Mongol_documentViewer_buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    border-collapse: collapse;
}

.Mongol_documentViewer_buttons div {
    float: right;
    line-height: 18px;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 4px;
    padding-top: 2px;
    border-radius: 3px;
    font-size: 10px;
    font-family: "Menlo", Courier, Lucidatypewriter, Fixed, monospace;
}

/* JSON colors */
/* Inspired by Monokai */

.Mongol_string {
    color: #A6E22D !important;
}

/* green */
.Mongol_number {
    color: #E6DB74 !important;
}

/* dark orange */
.Mongol_boolean {
    color: #66D9EF !important;
}

/* blue */
.Mongol_null {
    color: #AE81FF !important;
}

/* magenta */
.Mongol_key {
    color: #F92772 !important;
}

/* Document Menu */

.Mongol_docMenu {
    line-height: 28px;
    height: 28px;
    border-radius: 5px 5px 0 0;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 1px;
    position: relative;
    /*background: rgba();*/
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAECAAAAACBhLHlAAAAD0lEQVR4AWM0YwAhXRACAAVnAMsAW/K6AAAAAElFTkSuQmCC");*/
    background: rgba(0, 0, 0, 0.2);
    background-size: 1px 2px;
    background-position: 0 -1px;
    overflow: hidden;
}

.Mongol_docMenu .Mongol_docBar1, .Mongol_docMenu .Mongol_docBar2 {
    position: absolute;
    top: 0;
    height: 28px;
    width: 100%;
    -webkit-transition: all .2s;
    -moz-transition:    all .2s;
    -ms-transition:     all .2s;
    -o-transition:      all .2s;
    transition:         all .2s;
}

.Mongol_m_left, .Mongol_m_right, .Mongol_m_new, .Mongol_m_edit, .Mongol_m_delete, .Mongol_docMenu_insert {
    float: left;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0 8px;
}

.Mongol_m_edit {
    border-left: 0px solid transparent;
}

.Mongol_m_delete {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.Mongol_edit_save, .Mongol_edit_cancel {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0 8px;
    float: right;
}

.Mongol_edit_title {
    float: left;
    padding-left: 8px;
}

.Mongol_m_edit {
    margin-left: 0px;
}

.Mongol_m_left, .Mongol_m_right {
    float: right !important;
    font-size: 20px;
    font-weight: bold;
    padding: 0 8px !important;
    border-right: 0px solid transparent;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.Mongol_m_signout, .Mongol_m_signin {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    float: right;
    padding: 0 8px;
}

.Mongol_m_updateAccount {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.Mongol_edit_save:hover, .Mongol_edit_cancel:hover, .Mongol_docMenu_insert:hover, .Mongol_m_signout:hover, .Mongol_m_signin:hover, .Mongol_m_left:hover, .Mongol_m_right:hover, .Mongol_m_new:hover, .Mongol_m_edit:hover, .Mongol_m_delete:hover {
    color: #2CA6E2;
    -webkit-transition: all .2s;
    -moz-transition:    all .2s;
    -ms-transition:     all .2s;
    -o-transition:      all .2s;
    transition:         all .2s;
    cursor: pointer;
}

.Mongol_m_disabled {
    color: rgba(0, 0, 0, 0.4) !important;
    cursor: default !important;
    background: transparent !important;
}

/* Editable JSON */

#Mongol input {
    border: 0;
    padding: 0 !important;
    margin: 0;
    text-indent: 0px;
    padding: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    height: 18px !important;
    margin: 0px !important;
    line-height: inherit !important;
    border: 0px solid transparent !important;
    color: inherit;
}

#Mongol .editable-JSON-_id-field, #Mongol .editable-JSON-_id-value {
    opacity: 1;
}

/* Subscriptions */

.Mongol_subscription {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 0;
    margin: 0 2px;
    line-height: 18px;
}

.Mongol_subscription:first-child {
    padding-top: 2px;
}

.Mongol_subscription_toggle {
    height: 36px;
    width: 28px;
    line-height: 38px;
    text-align: center;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*margin-left: 8px;*/
    font-family: Menlo !important;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.4);
    margin-right: -8px;
}

.Mongol_subscription_toggle:hover {
    color: #EB4C16;
    cursor: pointer;
}

.Mongol_subscription_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Account State Badget */

.Mongol_account_active, .Mongol_account_inactive {
    float: right;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #EB4C16;
    margin-top: 10px;
}

.Mongol_account_active {
    background: #A6E22D;
}