/* #Imports
 * ================================================== */
/* #Reset & Basics (Inspired by E. Meyers)
 * ================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, button, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-spacing: 0; }

/* #Typography
 * ================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 52px;
  line-height: 1.1; }

h2 {
  font-size: 44px;
  line-height: 1.2; }

h3 {
  font-size: 32px;
  line-height: 1.3; }

h4 {
  font-size: 20px;
  line-height: 1.4; }

h5 {
  font-size: 18px;
  line-height: 1.5; }

h6 {
  font-size: 16px;
  line-height: 1.6; }

p {
  margin: 0 0 0 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

/* #Tables
 * ================================================== */
.table {
  width: 100%;
  vertical-align: top; }
  .table td {
    vertical-align: top; }

.twoColumn td {
  width: 50%; }

.twoColumnGR td:first-child {
  width: 38%; }
.twoColumnGR td:last-child {
  width: 62%; }

.twoColumnGR2 td:first-child {
  width: 62%; }
.twoColumnGR2 td:last-child {
  width: 38%; }

.threeColumn td {
  width: 33%; }

.fourColumn td {
  width: 25%; }

.fiveColumn td {
  width: 20%; }

.sixColumn td {
  width: 18%; }

/* #Style
 * ================================================== */

body, html {
  height: 100%;
  min-width: 960px; }
  
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  margin: 0px;
  padding: 0px;
  color: #232323;
  background: #fff;
  cursor: default;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px; 
}


a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  border: 0px;
  outline: 0; }

.screen {
  text-align: center;
  height: 100%;
  background: #000 url("../images/bg.jpg");
  background-size: 100% auto;
  background-position: center;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .screen .title {
    top: 0;
    position: absolute;
    width: 100%;
    font-size: 42px;
    height: 100px;
    line-height: 100px;
    text-shadow: 0 0 5px #000; }
  .screen .arrow {
    color: #fff;
    font-size: 34px;
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 50px;
    z-index: 9999999999999999;
    display: none; }
    .screen .arrow img {
      height: 22px; }
  .screen h1 {
    line-height: 34px;
    font-size: 28px; }
  .screen h3 {
    font-size: 20px;
    line-height: 26px !important; }

.header {
  padding: 12px 0;
  background: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 24px; }

.content {
  background: #fff;
  height: calc(100% - 34px); }

.content {
  background: #EEF0F2;
  padding-top: 34px; }

.container {
  max-width: 838px;
  margin: 0 auto;
  color: #939AA1; }
  .container strong {
    font-weight: normal;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.85); }
  .container strong {
    color: #2C333C !important; }

.footer {
  background: #fff;
  line-height: 50px;
  background: #fff; }
  .footer .link {
    float: right;
    margin-left: 14px; }

.command {
  background: #fff;
  font-family: "Anadale Mono", "Courier", "Lucidatypewriter", Fixed, monospace;
  color: green;
  margin-top: 4px;
  padding: 4px 6px;
  display: inline-block; }

.icon {
  height: 50px;
  width: 50px;
  background: #fff;
  float: left;
  display: inline-block; }

.padding-left {
  padding-left: 14px; }

.padding_right {
  margin-right: 14px; }

.subContainer {
  background: #DFE2E5;
  text-align: center;
  line-height: 40px;
  padding: 40px 0 22px 0;
  margin-bottom: 14px;
  font-size: 26px; }
  .subContainer div {
    display: inline-block; }

.titleBar {
  line-height: 34px;
  background: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 16px;
  padding: 0 10px; }
  .titleBar .right {
    float: right; }

.video {
  height: 525px;
  width: 840px;
  position: absolute;
  top: 50%;
  background: #CCEBF5;
  left: 50%;
  margin-top: -262px;
  margin-left: -420px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 50px #000; }

.icon {
  height: 66px;
  width: 66px;
  float: left;
  position: relative;
  background: transparent;
  margin-right: 10px; }
  .icon div {
    height: 66px;
    width: 66px;
    position: absolute;
    top: 50%;
    opacity: 0.3;
    background-size: cover;
    margin-top: -34px; }

/*# sourceMappingURL=style.css.map */
