<template name="leftPanel">
	<strong>
		Mongol, The Insanely Handy Development Package for Meteor
	</strong><br>
	I created Mongol as a response to a productivity bottleneck I've experienced, and seen other's experience. Starting today, you'll never have to enter your console to view or edit your documents. 
	<br><br>

	<div class="icon">
		<div style="background-image: url('icons/document55.png')"></div>
	</div>
	
	<strong>Browse Your Collections Visually</strong><br>
	Get out of the console and start developing <br>
	like the superstar you were born to be 😜.
	<br><br>

	<div class="icon">
		<div style="background-image: url('icons/ruler9.png')"></div>
	</div>
	<strong>Insert, Update and Remove Documents</strong><br>
	Mongol's special set of methods give it a <br>
	total access to your database for easy edits.
	<br><br>

	<div class="icon">
		<div style="background-image: url('icons/codings1.png')"></div>
	</div>
	<strong>Mongol Stays Out of Production</strong><br>
	Meteor won't compile Mongol into  production code <br>
	because it is a debug package.
	<br><br>

	<div class="icon">
		<div style="background-image: url('icons/M.png')"></div>
	</div>
	<strong>Hot Key Activation</strong><br>
	You can configure Mongol to hide on default. <br>
	When  you need it,  <strong>press Control + M to activate</strong>. 
</template>