<head>
  <title>Mongol - The Insanely Useful Meteor Development Package</title>
  <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no, minimal-ui, mobile-web-app-capable, height=device-height" />
</head>

<body>
	{{> videoPanel}}
	<div class="content">
		<div class="container">
			<table class="twoColumnGR2 table">
				<tr>
					<td>
						<div class="padding_right">	
							{{> leftPanel}}
						</div>
					</td>
					<td>
						<div class="padding-left">
							{{> rightPanel}}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>